#map-grid > div {
  display: none;
}

.node {
  display: none;
}

.estado.ativo + .node {
  display: block !important;
}

.estado.ativo path {
  fill: #f83100 !important;
}

#svg-map path {
  fill: #fbb000;
}

#svg-map text {
  fill: #fff;
  font: 12px Arial-BoldMT, sans-serif;
  cursor: pointer;
  display: none;
}

#svg-map a {
  text-decoration: none;
  outline: 0;
}

#svg-map a:hover {
  cursor: pointer;
  text-decoration: none;
}

#svg-map a:hover path {
  fill: #f83100 !important;
}

#svg-map .circle {
  fill: #66ccff;
  display: none;
}

#svg-map a:hover .circle {
  fill: #f83100 !important;
  cursor: pointer;
}
